.landing-page {
    min-height: 100vh;
    background-color: #1a1a2e;
    color: white;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    max-width: auto;
    margin: 0 auto;
  }
  
  .content {
    margin-top: 100px;
    text-align: center;
    margin-bottom: auto;
    flex: 1;
    max-width: 50%;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 2rem;
  }
  
  .shop-now {
    background-color: #4361ee;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .shop-now:hover{
    box-shadow: 0 10px 20px #4361ee;
  }

  .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    perspective: 1000px;
    align-items: center;
    overflow: hidden;
  }

  .rotating-image{
    transition: transform 0.1s linear;
    transform-style: preserve-3d;
  }
  
  .rotating-image img {
    max-width: 500px;
    height: auto;
    backface-visibility: hidden;
  }
  
  @media (max-width: 768px) {  
    main {
      flex-direction: column;
      text-align: center;
    }
  
    .content {
      max-width: 100%;
      margin-bottom: 2rem;
    }

    .rotating-image img{
        max-width: 350px;
    }
  
    .image-container {
      justify-content: center;
    }
  }